/** GLOBAL STYLES FOR NUXT IAM **/

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #222;
}


/* Spinner */
.loading-spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading-spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading-spinner 1.2s linear infinite;
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
